.user-profile {
    min-height: 140px;
}

.user-avatar {
    float: left;
    margin-right: 16px;
    margin-bottom: 16px;
}

ul.talk-list {
    list-style-type: none;
    padding: 0px;
}

li.talk {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding: 10px;
}

li.talk:hover {
    background-color: #f8f8f8;
}

div.talk-header h2 {
    font-size: 200%;
    margin: 5px 0px 15px 0px;
}

div.talk-header h3 {
    font-size: 115%;
    margin: 0px 0px 10px 0px;
}

div.talk-header p {
    font-size: 90%;
    font-style: italic;
    margin: 20px 0px 0px 0px;
}

div.talk-video {
    width: 450px;
    max-width: 450px;
    display: inline-block;
    margin: 5px;
    vertical-align: middle;
}

div.talk-slides {
    width: 450px;
    max-width: 450px;
    display: inline-block;
    margin: 5px;
    vertical-align: middle;
}

.flask-pagedown-preview {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ccc;
}

.flask-pagedown-preview h1, .comment-body h1 {
    font-size: 160%;
}

.flask-pagedown-preview h2, .comment-body h2 {
    font-size: 140%;
}

.flask-pagedown-preview h3, .comment-body h3 {
    font-size: 120%;
}

ul.comment-list {
    list-style-type: none;
    padding: 0px;
}

li.comment {
    padding: 10px;
}

ul.comment-list li.comment:nth-child(odd)
{
    background-color: #eee;
}

ul.comment-list li.comment:nth-child(even)
{
    background-color: #fff;
}

.badge-red {
    background-color:#d44;
}
